<div id="h-card">
    <h3>About
        <span class="p-name">B. Kenneth Brown</span>
    </h3>
    <img class="u-photo" src="https://i.ibb.co/LJMzx0y/profile.jpg" alt="Photo of B. Kenneth Brown"/>
    <small class="p-note">  Hey there! 😄 My name is Kenneth, I'm a 26-year-old queer Métis 
        writer and FOSS web developer from Winnipeg, Manitoba and currently reside in Calgary, 
        Alberta. I'm currently studying to obtain a degree in Honours English at Mount Royal University. 
        I'm looking to help those that need web development work done, or searching for ideas and 
        management for their next content project.
    </small>
    <a href="" class="u-url u-uid" hidden></a>
</div>