<footer style="text-align: right";>
    <small>
        Get in touch: <a href="https://github.com/brennanbrown" rel="me">GitHub</a> /
        <a href="https://twitter.com/bkennethbrown" rel="me">Twitter</a> /
        <a href="mailto:mail@brennanbrown.ca" rel="me">Email</a> /
        <a href="sms:+14034012718" rel="me">Phone Number</a>
        <br/>
        An experiment by <a href="https://marketing.brennanbrown.ca">Brennan Kenneth Brown</a>. 
        More <a href="https://blog.brennanbrown.ca">writings</a>.<br/>Jam Theme by <a href="https://github.com/ronv">@ronv</a>.
    </small>
    <br/>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a></a>
</footer>

